// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$PRIMARY: '#';
$SECONDARY: #ff7100;
$BACKGROUND: '#';
$ACCENT: #0F0F0F;
$INFO: #0F0F0F;
